<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    </configSections>
    <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
      <session-factory>
        <property name="connection.driver_class">NHibernate.Driver.Sql2008ClientDriver</property>
        <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
        <property name="connection.connection_string_name">AdventureWorks</property>
      </session-factory>
    </hibernate-configuration>
    <connectionStrings>
      <add name="AdventureWorks" connectionString="Server=.\DEVELOPER;Database=AdventureWorks2012;Integrated Security=SSPI" />
    </connectionStrings>
</configuration>
